body{
  background-color: #313131;
}

.App {
  text-align: center;
}

.header-container{
  display: flex;
}

.header-left{
  width: 30%;
}
.header-center{
  width: 40%;
}
.header-right{
  width: 30%;
}

.page-number{
  width: 5%;
}

.pokemon-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
